@charset "UTF-8";

@font-face {
    font-family: 'Ice';
    src: url(../fonts/Iceland.ttf);
    font-size: normal;
}

:root{
    /* Paleta de Cores */
    --AzulEscuro: #076B8F;
    --AzulClaro: #2BC7FF;
    --Azul: #0FA5DB;
    --LaranjaEscuro: #8F4C04;
    --Laranja: #DB7100;
    /* Fontes */
    --padrao: Arial, Helvetica, sans-serif;
    --destaque: Ice;
    --texto: 'Times New Roman', Times, serif;
}

*{
    margin: 0px;
    padding: 0px;
}
.button{
    background-color: var(--AzulEscuro);
    font-family: var(--destaque);
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
em{
    background-color: var(--AzulClaro);
    color: var(--LaranjaEscuro);
    padding: 5px;
}
body{
    background-color: lightgray;
}
header{
    background-image: linear-gradient(to bottom, var(--LaranjaEscuro), var(--Laranja), var(--LaranjaEscuro));
    text-align: center;
    color: white;
    height: 175px;
}
header > img{
    position: absolute;
    left: 0px;
    padding: 10px;
}
header > nav{
    position: absolute;
    right: 0px;
    top: 165px;
    padding-right: 5px;
}
header > hgroup{
    text-transform: uppercase;
    font-family: var(--destaque);
}
header > hgroup > h1{
    font-size: 3em;
    padding-top: 80px;
}
div{
    display: inline-block;
    background-color: white;
    padding: 5px;
}
div#menu{
    max-width: 20%;
}
div#menu > ul > li{
    background-color: var(--AzulClaro);
    font-family: var(--destaque);
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    margin: -5px;
}
div#menu > ul > li > a{
    text-decoration: none;
}
div#content{
    max-width: 60%;
}
div#content > h1{
    font-family: var(--destaque);
    color: var(--LaranjaEscuro);
    background-image: linear-gradient(to right, var(--Azul), transparent);
    padding: 5px;
    margin-bottom: 5px;
}
div#marketing{
    max-width: 20%;
    text-align: center;
}
div#marketing > img{
    max-width: 100%;
}
footer{
    background-image: linear-gradient(to bottom, var(--LaranjaEscuro), var(--Laranja), var(--LaranjaEscuro));
    text-align: center;
    color: white;
}