@charset "UTF-8";
body{}
header{
    border: 1px dashed black;
    padding: 5px;
    margin-bottom: 5px;
}
header > nav{
    border: 1px dashed black;
    width: 90%;
    margin: auto;
    padding: 5px;
}
main{
    border: 1px dashed black;
    padding: 5px;
}
section{
    border: 1px dashed black;
    padding: 5px;
    width: 70%;
    display: inline-block;
}
article{
    border: 1px dashed black;
    padding: 5px;
    margin-bottom: 5px;
}
article > div{
    border: 1px dashed black;
    padding: 5px;
    display: inline-block;
    max-width: 60%;
}
article > aside{
    border: 1px dashed black;
    padding: 5px;
    display: inline-block;
    max-width: 35%;
}
main > aside{
    border: 1px dashed black;
    padding: 5px;
    width: 25%;
    min-height: 84%;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
}
footer{
    border: 1px dashed black;
    padding: 5px;
    margin-top: 5px;
}