@charset "UTF-8";

@font-face {
    font-family: 'Ice';
    src: url(../fonts/Iceland.ttf);
    font-size: normal;
}

:root{
    /* Paleta de Cores */
    --AzulEscuro: #076B8F;
    --AzulClaro: #2BC7FF;
    --Azul: #0FA5DB;
    --LaranjaEscuro: #8F4C04;
    --Laranja: #DB7100;
    /* Fontes */
    --padrao: Arial, Helvetica, sans-serif;
    --destaque: Ice;
    --texto: 'Times New Roman', Times, serif;
}

*{
    margin: 0px;
    padding: 0px;
}
.button{
    background-color: var(--AzulEscuro);
    font-family: var(--destaque);
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.filter{
    text-align: center;
}
em{
    background-color: var(--AzulClaro);
    color: var(--LaranjaEscuro);
    padding: 5px;
}
body{
    background-color: lightgray;
}
header{
    background-image: linear-gradient(to bottom, var(--LaranjaEscuro), var(--Laranja), var(--LaranjaEscuro));
    text-align: center;
    color: white;
    height: 175px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
header > img{
    position: absolute;
    left: 0px;
    padding: 10px;
}
header > nav{
    position: absolute;
    right: 0px;
    top: 165px;
    padding-right: 5px;
}
header > hgroup{
    text-transform: uppercase;
    font-family: var(--destaque);
}
header > hgroup > h1{
    font-size: 3em;
    padding-top: 80px;
    background: none;
    color: white;
}
main{
    max-width: 70vw;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}
h1{
    background-image: linear-gradient(to right, var(--Azul), transparent);
    color: var(--LaranjaEscuro);
    padding: 5px;
    margin-bottom: 10px;
}
section{
    display: inline-block;
    max-width: 70%;
    max-height: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: justify;
    text-indent: 30px;
    vertical-align: top;
}
div{
    width: 100%;
    text-align: justify;
    margin: -5px 0px 10px -5px;
}
div > nav{
    display: inline-block;
    max-width: 20%;
    min-height: 100%;
    vertical-align: top;
}
div > nav > ul{
    list-style: none;
    line-height: 1.5em;
}
div > nav > ul > li{
    background-color: var(--AzulClaro);
    padding: 5px;
    margin-bottom: 5px;
    font-family: var(--destaque);
    text-transform: uppercase;
    text-align: center;
}
div > nav > ul > li > a{
    text-decoration: none;
    color: white;
}
iframe{
    display: inline-block;
    min-width: 78%;
    min-height: 100vh;
    vertical-align: top;
    text-align: right;
}
aside{
    display: inline-block;
    max-width: 20%;
    margin-top: 10px;
    text-align: right;
    vertical-align: top;
}
aside > a > img{
    max-width: 80%;
    max-height: 80%;
}
form{
    padding: 10px;
    margin: auto;
}
form > p{
    text-align: right;
    padding: 5px;
}
form > p > a{
    text-decoration: none;
}
form > fieldset{
    padding: 10px;
    border-radius: 10px;
    line-height: 1.8em;
}
form > fieldset > legend{
    padding: 5px;
    font-family: var(--texto);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
form > fieldset > label{
    padding: 5px;
}
table{
    padding: 10px;
    border-collapse: collapse;
    margin: 10px auto 10px auto;
}
td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
thead, tfoot{
    background-color: var(--Laranja);
    color: white;
    text-transform: uppercase;
}
tbody > tr > th{
    background-color: var(--AzulEscuro);
}
tbody > tr:nth-child(odd){
    background-color: var(--AzulClaro);
}
footer{
    background-image: linear-gradient(to bottom, var(--LaranjaEscuro), var(--Laranja), var(--LaranjaEscuro));
    text-align: center;
    color: white;
    margin-top: 5px;
    padding: 10px;
}